package {{ .cmdName }}

import (
	"{{ .modName }}/internal/factory"
	"github.com/spf13/cobra"
)

func {{ .cmdName }}(f *factory.Factory) *cobra.Command {
	cmd := &cobra.Command{
		Use:           f.Localizer.LocalizeByID("{{ .cmdName }}.cmd.use"),
		Short:         f.Localizer.LocalizeByID("{{ .cmdName }}.cmd.short"),
		Long:          f.Localizer.LocalizeByID("{{ .cmdName }}.cmd.long"),
		Example:       f.Localizer.LocalizeByID("{{ .cmdName }}.cmd.example"),
		RunE: func(cmd *cobra.Command, args []string) error {

			return nil
		}
	}

	return cmd
}
